<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hover Div</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/support.css">
    <script src="/javascripts/html2canvas.min.js"></script>
    <script src="/javascripts/canvas2image.js"></script>
    <script src="/javascripts/support.js"></script>
</head>

<body>
    <div id="parent">
        <div id="child"></div>
    </div>
    <button id="save">Save</button>
</body> 
</html>