<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/roundslider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> 

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <script src="/javascripts/openseadragon.min.js"></script>
    <script src="/javascripts/openseadragonselection.js"></script>
    <script src="/javascripts/openseadragon-scalebar.js"></script>


    <script src="/javascripts/canvas-toBlob.js"></script>
    <script src="/javascripts/FileSaver.js"></script>
    <script src="/javascripts/openseadragonScreenshot.js"></script>
    <script defer src="/javascripts/fontawesome.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="/javascripts/roundslider.min.js"></script>
    

    <script src="/javascripts/main.js"></script>
    
</head>

<body>
    <div id="page">
        <div id="toolbar">
            <nav class="toolbar-container" role="navigation" aria-label="main navigation">
                <button title="Home" id="home-btn" class=" btn btn-round-blue"><i class="fas fa-home"></i></button>
                <div class="separator"></div>
                <button title="Zoom In" id="zoomin-btn" class=" btn btn-round-green"><i
                        class="fas fa-search-plus"></i></button>

                <button title="Zoom Out" id="zoomout-btn" class=" btn btn-round-green"><i
                        class="fas fa-search-minus"></i></button>

                <div class="separator "></div>
                

                <div id="zoom-buttons">
                    <button title="Zoom In 2x" value="2" style="border: 2px solid orange;"
                        class="btn-round-red">2x</button>
                    <button title="Zoom In 5x" value="5" style="border: 2px solid red;"
                        class="btn-round-red">5x</button>
                    <button title="Zoom In 10x" value="10" style="border: 2px solid yellow;"
                        class="btn-round-red">10x</button>
                    <button title="Zoom In 20x" value="20" style="border: 2px solid  #66ff00;"
                        class="btn-round-red">20x</button>
                    <button title="Zoom In 40x" value="40" style="border: 2px solid #0000f7;"
                        class="btn-round-red">40x</button>
                </div>


                <div class="separator "></div>

                <div class="dropdown" id="rotation-menu">
                    <div class="dropdown-trigger">
                        <button title="Rotate" id="rotation-btn" class=" btn btn-round-blue"><i
                                class="fas fa-sync"></i></button>
                    </div>
                    <div class="dropdown-menu"role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div id="rotation-selector"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button id="btn-rotate-preset-1" style="width: 28px; height: 28px;" class="btn btn-small-blue">0&#176;</button>
                <button id="btn-rotate-preset-2" class="btn btn-small-blue">90&#176;</button>
                <button id="btn-rotate-preset-3" style="width: 32px; height: 32px;" class="btn btn-small-blue">180&#176;</button>

                </button>


                <div class="separator"></div>

                <button title="Annotation" id="draw-btn" class=" btn btn-round-blue"><i class="fas fa-pen"></i></button>
                <div class="separator"></div>

                <button title="Screenshot" id="screenshot-btn" class=" btn btn-round-purple"><i
                        class="fas fa-camera"></i></button>
                
                
                <button id="hamburger" ><i class="fas fa-bars"></i></button>
            </nav>
        </div>

        <div id="openseadragon-viewer">
        </div>


        <div class="modal " id="annotation-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Annotation Setting</p>
                    <button class="delete annotation-modal-close" arai-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="container">
                        <label for="annotation-text" class="label">Annotation Text</label>
                        <textarea name="annotation-text" id="annotation-text" cols="15" rows="5" class="textarea"></textarea>
                        <div class="columns has-text-centered">
                            <div class="column is-3">
                                <label class="label">Border Color</label>
                                <div id="annotation-border-picker" class="color-picker"></div>
                            </div>
                            <div class="column is-5">
                                <label class="label">Border Width</label>
                                <div class="columns">
                                    <div class="column is-6">
                                        <input type="number" name="border-width" id="border-width-input" class="input is-rounded" min = "0" max = "15" value="4">
                                    </div>
                                    <div class="column">
                                        <div id="border-example"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Background Color</label>
                                <div id="annotation-background-picker" class="color-picker"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" id="annotation-save-btn">Add Annotation</button>
                    <button class="button annotation-modal-close">Cancel</button>
                </footer>
            </div>
        </div>

    </div>




</body>

</html>