<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <script defer src="/javascripts/fontawesome.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>


    <script src="/javascripts/openseadragon.min.js"></script>
    <script src="/javascripts/openseadragonselection.js"></script>
    <script src="/javascripts/openseadragon-scalebar.js"></script>
    
    
    <script src="/javascripts/canvas-toBlob.js"></script>
    <script src="/javascripts/FileSaver.js"></script>
    <script src="/javascripts/openseadragonScreenshot.js"></script>
    
    
    <script src="/javascripts/main.js"></script>



    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
    <div id="page">
        <div id="toolbar">
            <div class="container">
                <button title="Home" id="home-btn" class="btn btn-round-blue"><i class="fas fa-home"></i></button>

                <div class="separator"></div>
                <button title="Zoom In" id="zoomin-btn" class="btn btn-round-green"><i
                        class="fas fa-search-plus"></i></button>

                <button title="Zoom Out" id="zoomout-btn" class="btn btn-round-green"><i
                        class="fas fa-search-minus"></i></button>

                <div class="separator"></div>

                <div id="zoom-buttons">
                    <button title="Zoom In 2x" value="2" style="border: 2px solid orange;"
                        class="btn-round-red">2x</button>
                    <button title="Zoom In 5x" value="5" style="border: 2px solid red;"
                        class="btn-round-red">5x</button>
                    <button title="Zoom In 10x" value="10" style="border: 2px solid yellow;"
                        class="btn-round-red">10x</button>
                    <button title="Zoom In 20x" value="20" style="border: 2px solid  #66ff00;"
                        class="btn-round-red">20x</button>
                    <button title="Zoom In 40x" value="40" style="border: 2px solid #0000f7;"
                        class="btn-round-red">40x</button>
                </div>

                <div class="separator"></div>

                <!-- <div title="Rotate" class="toolbar-heading"><i class="fas fa-sync-alt"></i></div> -->
                <div title="Rotate" class="slidercontainer">
                    <input type="range" class="rs-range" name="slider-angle" id="slider-angle" min="-180" max="180"
                        value=0>
                </div>
                <div title="Choose Angle of Rotation" id="angle-select-container" class="toolbar-heading">
                    <select id="angle-select">
                        <option value="-180">-180&#176;</option>
                        <option value="-90">-90&#176;</option>
                        <option value="0">0&#176;</option>
                        <option value="90">90&#176;</option>
                        <option value="180">180&#176;</option>
                    </select>
                </div>

                <div class="separator"></div>

                <button title="Annotation" id="draw-btn" class="btn btn-round-blue"><i class="fas fa-pen"></i></button>
                
                <div class="separator"></div>

                <button title="Screenshot" id="screenshot-btn" class="btn btn-round-blue"><i class="fas fa-camera"></i></button>
            </div>
        </div>

        <div id="openseadragon-viewer">
        </div>

    </div>




</body>

</html>