.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 0px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-round-green {
    background: #24b662;
	color: #fff;
	box-shadow: 0 2px #17954c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 30%;
	width: 40px;
	height: 30px;
	padding: 0;
}

.btn-round-green:hover {
	box-shadow: 0 2px #17954c;
	top: 0px;
}

.btn-round-green:active {
	box-shadow: 0 0 #17954c;
	top: 1px;
}

.btn-round-blue {
    background: #4593e3;
	color: #fff;
	box-shadow: 0 2px #226fbe;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 30%;
	width: 40px;
	height: 30px;
	padding: 0;
}

.btn-round-blue:hover {
	box-shadow: 0 2px #226fbe;
	top: 0px;
}

.btn-round-blue:active {
	box-shadow: 0 0 #226fbe;
	top: 1px;
}


.rs-range {
	width: 300px;
	-webkit-appearance: none;
}

.rs-range:focus {
	outline: none;
}
.rs-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background: #fff;
	border-radius: 0px;
	border: 0px solid #010101;
}
.rs-range::-moz-range-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background: #fff;
	border-radius: 0px;
	border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
	box-shadow: none;
	border: 0px solid #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	height: 22px;
	width: 12px;
	border-radius: 22px;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12px;
}
.rs-range::-moz-range-thumb {
	box-shadow: none;
	border: 0px solid #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	height: 22px;
	width: 12px;
	border-radius: 22px;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12px;
}
.rs-range::-moz-focus-outer {
	border: 0;
}

.slidercontainer {
	margin-top: -8px;
}

.btn-round-red {
	border: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	margin: 0px 10px;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;


    background: #36636f;
	color: #fff;
	box-shadow: 0 4px #1c3334;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 0;
}

.btn-round-red:hover {
	box-shadow: 0 4px #1c3334;
	top: 0px;
}

.btn-active {
	box-shadow: 0 0 #1c3334;
	background: #24b662;
	top: 1px;
}