html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#page {
    width: 100%;
    height: 100%;
}

#openseadragon-viewer {
    width: 100%;
}

#delete-confirm > .modal-content {
    width: 300px;

}

#toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #1f2833;
    z-index: 100;
}

.toolbar-container {
    width: 100%;
    height: 100%;
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    align-items: center;
    background-color: #1f2833;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 3px 15px rgba(200,200,200,0.5);
    height: 50px;
}

.button.is-rounded {
    border: none;
    padding-left: 0.71rem;
    padding-right: 0.71rem;
}

.button:focus {
    border-color: rgba(0,0,0,0);
    color: none;
}

.orange-button {
    background-color: #f68a42;
    color: white !important;
}

.red-button {
    background-color: red;
    color: white !important;
}

.yellow-button {
    background-color: hsl(48, 100%, 67%);
}

.green-button {
    background-color: green;
    color: white !important;
}

.blue-button {
    background-color: blue;
    color: white !important;   
}

.zoom-button {
    height: 35px;
    padding: 0 15px;
    border-radius: 25px;
    border: none;
}

#rotation-dropdown-button {
    margin-top: auto;
    margin-bottom: auto;
}

#rotation-selector .rs-range-color  {
    background-color: #33B5E5;
}
#rotation-selector .rs-path-color  {
    background-color: #C2E9F7;
}
#rotation-selector .rs-handle  {
    background-color: #33B5E5;
    padding: 7px;
    border: 2px solid #33B5E5;
}
#rotation-selector .rs-handle.rs-focus  {
    border-color: #33B5E5;
}
#rotation-selector .rs-handle:after  {
    border-color: #33B5E5;
    background-color: #33B5E5;
}
#rotation-selector .rs-border  {
    border-color: transparent;
}

#rotation-selector-dropdown > .navbar-dropdown {
    padding: 0 25px;
    padding-bottom: 25px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    margin-left: -45px;
}

#draw-button {
    margin-top: auto;
    margin-bottom: auto;
}


#draw-menu-dropdown {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

#draw-menu-dropdown > .navbar-dropdown {
    margin-left: -50px;
}

#rotation-selector-dropdown {
    padding-right: 0.45rem;
}


#rotation-selector-dropdown > .navbar-dropdown > .navbar-item {
    padding: 0;
}

#btn-rotate-preset-1-container {
    padding-left: 0;
}


#zoomin-btn:active, #zoomout-btn:active{
    background-color: hsl(141, 53%, 53%);
    color: white;
}


.navbar-item {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}


.toolbar-heading {
    padding: 8px 8px;
    background-color: #1f2833;
    color: white;
    border: 2px solid #17954caa;
    text-align: center;
    border-radius: 20%;
    margin: 0px 10px;
}


.separator
{
    width: 1px;
    height: 100%;
    background-color: #aaa;
    margin: 0px 10px;
}

#annotation-modal > .modal-background {
    opacity: 0.2;
}

#annotation-modal > .modal-card {
    width: 20vw;
}


#loading-modal > .modal-content > .image {
    padding: 10px;
}

#loading-modal > .modal-content > .image > img {
    margin: auto;
}

#border-example {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 15px;
}

#hamburger {
    display: none;
    width: 90px;
    height: 40px;
    border: none;
    box-shadow: none;
}

#hamburger:active {
    background-color: #aacfcf;
}

.fa-bars {
    font-size: 25px;
}

.card-close {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.card-footer-item {
    padding: 6px;
}

@media screen and (max-width: 1160px) {
    .separator {
        margin: 0px 0px;
    }

    .toolbar-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .toolbar-container button {display: none}
    .toolbar-container div {display: none;}
    #hamburger {
        position: absolute;
        display: block;
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    #annotation-modal > .modal-card {
        width: 250px;
    }
}


@media (max-height: 600px) {
    #toolbar {
        height: 8%;
    }

    #openseadragon-viewer {
        height: 92%;
    }
}