html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#page {
    width: 100%;
    height: 100%;
}

#openseadragon-viewer {
    width: 100%;
    height: 95%;
}


#toolbar {
    width: 100%;
    height: 5%;
    background-color: #1f2833;
}

.toolbar-container {
    width: 100%;
    height: 100%;
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    align-items: center;
    background-color: #1f2833;
}


.toolbar-heading {
    padding: 8px 8px;
    background-color: #1f2833;
    color: white;
    border: 2px solid #17954caa;
    text-align: center;
    border-radius: 20%;
    margin: 0px 10px;
}

#rotation-menu > .dropdown-menu{
    margin-left: -40px;
}

#rotation-menu > .dropdown-menu > .dropdown-content > .dropdown-item {
    margin-left: 15px;
}

.separator
{
    width: 1px;
    height: 100%;
    background-color: #3f3933;
    margin: 0px 10px;
}


#annotations-menu-container.options-menu {
    position: relative;
    top: 0px;
    width: 100px;
    height: 150px;
    background-color: white;
}

#annotation-modal > .modal-background {
    opacity: 0.2;
}

#loading-modal > .modal-content > .image {
    padding: 10px;
}

#loading-modal > .modal-content > .image > img {
    margin: auto;
}

#border-example {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 15px;
}

#hamburger {
    display: none;
    width: 90px;
    height: 40px;
    border: none;
    box-shadow: none;
}

#hamburger:active {
    background-color: #aacfcf;
}

.fa-bars {
    font-size: 25px;
}


@media screen and (max-width: 1160px) {
    .separator {
        margin: 0px 0px;
    }

    .toolbar-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .toolbar-container button {display: none}
    .toolbar-container div {display: none;}
    #hamburger {
        position: absolute;
        display: block;
        right: 0;
    }
}