.btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
}

.card-control {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
}

#edit-button {
    background-color: #ffdd57;
}

#delete-button {
    background-color: #fa4a5f;
}

.card  {
    width: 150px;
}

.card > .card-content {
    padding: 0;
    padding-top: 15px;
    padding-right: 10px;
}
