#parent {
    width: 1050px;
    height: 450px;
    background-color: #fb7b6b;
}

#child {
    width: 200px;
    height: 100px;
    background-color: #d7385e;
    position: relative;
    top: 50px;
    left: 20px;
}
