.btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
}

.card-close {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#edit-btn {
    background-color: #ffdd57;
}

#delete-btn {
    background-color: #fa4a5f;
}

.card {
    width: 200px;
    position: absolute;
    top: 601px;
}

.card-footer-item {
    padding: 6px;
}
